{% extends 'main/layout.html' %}
{% load static %}
{% block content %}
        
        <div class="content-wrapper">
          <div class="container">
            <div class="col-sm-12">
              <div class="card" data-aos="fade-up">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-8">
                      {% for x in news %}
                      <div>
                        <h1 class="font-weight-600 mb-1">
                          {{x.basliq}}
                        </h1>
                        <p class="fs-13 text-muted mb-0">
                          <span class="mr-2">Photo </span>10 Minutes ago
                        </p>
                        <div class="rotate-img">
                          <img
                            src="{{x.foto}}"
                            alt="banner"
                            class="img-fluid mt-4 mb-4"
                          />
                        </div>
                        <p class="mb-4 fs-15">
                          {{x.metn}}
                        </p>
                      </div>
                      {% endfor %}
                      
                      <div class="d-lg-flex">
                        <span class="fs-16 font-weight-600 mr-2 mb-1"
                          >Tags</span
                        >
                        <span class="badge badge-outline-dark mr-2 mb-1"
                          >Trending</span
                        >
                        <span class="badge badge-outline-dark mr-2 mb-1"
                          >Trending</span
                        ><span class="badge badge-outline-dark mr-2 mb-1"
                          >Trending</span
                        ><span class="badge badge-outline-dark mr-2 mb-1"
                          >Trending</span
                        ><span class="badge badge-outline-dark mb-1"
                          >Trending</span
                        >
                      </div>
                      <br><br>
                      <form class="form-contact comment_form" action="{% url 'singlepage' id %}" method="post" >
                        {% csrf_token %}
                         <div class="row">
                            <div class="col-12">
                               <div class="form-group">
                                  <textarea class="form-control w-100" name="comment"  cols="30" rows="9"
                                     placeholder="Write Comment"></textarea>
                               </div>
                            </div>
                            <div class="col-sm-6">
                               <div class="form-group">
                                  <input class="form-control" name="name" type="text" placeholder="Name">
                               </div>
                            </div>
                            <input type="hidden" name="id" value="{{ id }}">
                            <div class="col-sm-6">
                               <div class="form-group">
                                  <input class="form-control" name="email"  type="email" placeholder="Email">
                               </div>
                            </div>
                            <div class="col-12">
                               <div class="form-group">
                                  <input class="form-control" name="website"  type="text" placeholder="Website">
                               </div>
                            </div>
                         </div>
                         <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-md">Send Message</button>
                         </div>
                      </form>

                       
                            <ul class="social-media mb-3">
                              <li>
                                <a href="#">
                                  <i class="mdi mdi-facebook"></i>
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <i class="mdi mdi-youtube"></i>
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <i class="mdi mdi-twitter"></i>
                                </a>
                              </li>
                            </ul>
                          </div>
                          
                          
                        </div>
                        {% for x in comments %}
                        <div class="comment-section">
                          <h5 class="font-weight-600">Comments</h5>
                          <div class="comment-box">
                            <div class="d-flex align-items-center">
                              
                              <div>
                                <p class="fs-12 mb-1 line-height-xs">
                                  24 Jul 2020
                                </p>
                                <p
                                  class="fs-16 font-weight-600 mb-0 line-height-xs"
                                >
                                  {{x.name}}
                                </p>
                              </div>
                            </div>

                            <p class="fs-12 mt-3">
                              {{x.comment}}
                            </p>
                          </div>
                          {% endfor %}
                          
                          
                        </div>
                      </div>
                    </div>
                    
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
       

{% endblock  %}       